body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
   background-color: #fef7f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

.admin-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

.admin-container h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000;
  font-family: "Fredoka", sans-serif;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.button-group button {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #d27b15;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}

.button-group button:hover {
  background-color: #a75f0d;
}

.boton-jugar{
  padding: 10px 20px; /* botón más grande */
  font-size: 15px; 
  font-weight: bold;
  background-color: #d0ff57;
  border: none;
  font-family: "Fredoka", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 12px;
  margin-right: 5px;
}

.boton-ranking{
  padding: 10px 20px; /* botón más grande */
  font-size: 15px; 
  font-weight: bold;
  border: none;
  margin-top: 10px;
  background-color:  #e26ce2;
  font-family: "Fredoka", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#input-palabra{
  padding: 10px;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  background-color: #dedede;
  width: 100%;
  box-sizing: border-box;
  font-family:  "Montserrat", sans-serif;;
}
#input-palabra-agregar{
  padding: 10px;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  background-color: #dedede;
  width: 100%;
  box-sizing: border-box;
  font-family:  "Montserrat", sans-serif;;
}
#input-nombre-jugador{
  padding: 10px;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  background-color: #dedede;
  width: 100%;
  box-sizing: border-box;
  font-family:  "Montserrat", sans-serif;
}

.label{
  font-family:  "Montserrat", sans-serif;
  font-size: 10px;
}