body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fef6f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

.admin-container h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000;
  font-family: "Fredoka", sans-serif;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #d27b15;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-group button:hover {
  background-color: #a75f0d;
}
