/* Estilo base */
body {
    margin: 0;
    padding: 0;
    background-color: #fef7f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  
  /* Contenedor principal */
  .login-container {
    text-align: center;
    padding: 40px 60px; /* Añadido */
    min-width: 400px;    /* Añadido */
  }
  
  /* Título */
  .login-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Formulario */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-form label {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .login-form input {
    padding: 14px;
    font-size:16px;
    border: none;
    border-radius: 20px;
    background-color: #dedede;
    width: 350px;
  }
  
  /* Texto de registro */
  .register-text {
    margin-top: 15px;
    font-size: 14px;
  }
  
  /* Botón de registro */
  .register-button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #d98c29;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-family: "Fredoka", sans-serif;
  }
  
  .register-button:hover {
    background-color: #c97b1b;
  }
  
  h1{
    font-family: "Fredoka", sans-serif;
  }