body {
  font-family: "Montserrat", sans-serif;
  background-color: #fdfaf7;
  margin: 0;
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* Letras usadas arriba a la izquierda */
#letras_utilizadas {
  align-self: flex-start;
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
  text-align: left;
  padding-right: 1000px ;}

h3, h1 {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  margin: 10px 0;
}

#letras {
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
}


.jueguito {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.jueguito img {
  width: 400px;
  max-width: 90%;
  padding-right: 100px;
}

#guiones {
  font-size: 60px;
  letter-spacing: 10px;
  color: #333;
  padding-right: 100px;
}

input#letra-input {
  padding: 14px;
  font-size:30px;
  border: none;
  border-radius: 20px;
  background-color: #dedede;
  width:30%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Botones */
.boton-adivinar, .boton-jugar, .boton-volver {
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Fredoka", sans-serif;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-adivinar {
  background-color: #a2e64b;
  color: #000;
  margin: 20px;
  width: 30%;
}

.boton-adivinar:hover {
  background-color: #89c83f;
}

.boton-jugar {
  background-color: #f7b348;
  color: #000;
}

.boton-jugar:hover {
  background-color: #e39a2e;
}

.boton-volver {
  background-color: #ccc;
  color: #000;
}

.boton-volver:hover {
  background-color: #bbb;
}

.letra {
  display: inline-block;
  background-color: #e6a741;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 3px;
}

/* Contenedor abajo para botones, input e intentos */
.parteDeAbajo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto; /* para pegar abajo */
  gap: 10px;
}

/* Contenedor de botones e input a la izquierda */
.parteDeAbajo .botones {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

/* Intentos restantes a la derecha */
.parteDeAbajo #intentos {
  text-align: right;
  flex: 1;
  font-size: 18px;
  color: #444;
}
