body {
  
  font-family: "Montserrat", sans-serif;
  background-color: #fdfaf7;
  height: 100vh;

}

.jueguito {
   display: flex;
  align-items: center; /* opcional, para centrar verticalmente */
}



.jueguito img{
  width:500px;
}

#guiones {
   font-size: 100px;
}

.boton-jugar {
  padding: 15px 20px; /* botón más grande */
  font-size: 18px;     /* texto más grande */
  font-weight: bold;
  background-color: #d98c29;
  border: 1px solid #000;
  font-family: "Fredoka", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-adivinar {
  padding: 15px 20px; /* botón más grande */
  font-size: 18px;     /* texto más grande */
  font-weight: bold;
  background-color: #d0ff57;
  border: 1px solid #000;
  font-family: "Fredoka", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.letra {
  display: inline-block;
  background-color: #e6a741;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.intentos {
position: absolute;
right: 0;
bottom: 0;
}