body {
  margin: 0;
  padding: 40px 0;
  min-height: 100vh;
   background-color: #fef7f0;
  font-family: "Fredoka", sans-serif;
  display: flex;
  justify-content: center;
}

.ranking-container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 20px #0001;
  text-align: center;
  padding: 40px 30px;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
}

.ranking-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 30px;
}

#tabla-ranking {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 18px;
  table-layout: fixed;
}

#tabla-ranking th,
#tabla-ranking td {
  padding: 14px 10px;
  text-align: center;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

#tabla-ranking thead {
  background-color: #f1f1f1;
  font-weight: bold;
}

#tabla-ranking tbody tr.gold {
  background-color: #e2d278;
}

#tabla-ranking tbody tr.silver {
  background-color: #C0C0C0;
}

#tabla-ranking tbody tr.bronze {
  background-color: #f5bd86;
}

.btnverde,
.btnnaranja {
  display: inline-block;
  margin: 8px 10px;
  padding: 14px 28px;
  border-radius: 24px;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.btnverde {
  background-color: #d0ff57;
  color: rgb(0, 0, 0);
}

.btnvioleta {
  background-color: #8e44ad;
  color: rgb(0, 0, 0);
}

.btnnaranja {
  background-color: #d98c29;
  color: black;
}


